* {
    margin: 0;
    padding: 0;
}
body {
    background-color: honeydew;
    
}
ul.text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
}
ul.text li {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 5em;
    color: slategray;
    opacity: 1;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-shadow: 5px 5px 5px rgba(166, 160, 160, 0.3);
    flex: 1;
}
ul.text.hidden {opacity: .3;}
ul.text.hidden li:nth-child(1) {transform: translateX(-200px) translateY(-200px) rotateY(360deg) rotateZ(180deg);}
ul.text.hidden li:nth-child(2) {transform: translateX(20px) translateY(100px) rotateY(360deg) rotateZ(180deg);}
ul.text.hidden li:nth-child(3) {transform: translateX(-150px) translateY(-80px) rotateY(360deg) rotateZ(180deg);}
ul.text.hidden li:nth-child(4) {transform: translateX(10px) translateY(-200px) rotateY(360deg) rotateZ(180deg);}
ul.text.hidden li:nth-child(5) {transform: translateX(-300px) translateY(200px) rotateY(360deg) rotateZ(180deg);}
ul.text.hidden li:nth-child(6) {transform: translateX(20px) translateY(-20px) rotateY(360deg) rotateZ(180deg);}
ul.text.hidden li:nth-child(7) {transform: translateX(30px) translateY(200px) rotateY(360deg) rotateZ(180deg);}
ul.text.hidden li:nth-child(8) {transform: translateX(-200px) translateY(-200px) rotateY(360deg) rotateZ(180deg);}
ul.text.hidden li:nth-child(9) {transform: translateX(20px) translateY(100px) rotateY(360deg) rotateZ(180deg);}
ul.text.hidden li:nth-child(10) {transform: translateX(-150px) translateY(-80px) rotateY(360deg) rotateZ(180deg);}
ul.text.hidden li:nth-child(11) {transform: translateX(10px) translateY(-200px) rotateY(360deg) rotateZ(180deg);}

@media (max-width: 768px) {
    ul.text li {
        font-weight: 500;
        font-size: 3.5em;
    }
}